$mainColor: #0070e0;

.header {
  border-bottom: 1px solid #e2e8f0;
  color: $mainColor;
  background-color: #fff;
  margin-bottom: 4em;

  .left {
    margin: 0;

    .brandName {
      font-size: 1.2em;
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;

    .badge {
      color: $mainColor;
    }
  }
}
